.intro-div {
  max-width: 690px;
  padding-top: 92px;
}

@media screen and (max-width:320px) {
  .intro-div {
    min-width:288px;
    padding: 64px 16px 0;
  }
}
@media screen and (min-width:321px) and (max-width:768px) {
  .intro-div {
    max-width:720px;
    padding: calc(64px + 3.2%) calc(16px + 1.1%) 0;
  }
}
@media screen and (min-width:769px) and (max-width:1024px) {
  .intro-div {
    padding-left: 48px;
  }
}
@media screen and (min-width:1025px) and (max-width:1280px) {
  .intro-div {
    padding: 92px 11vw 0;
  }
}

