.places__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  color: #FFF;
  line-height: 29px;
  padding-bottom: 25px;
  min-width: 484px;
}

.places__paragraph:last-of-type {
  padding-bottom: 0;
}

@media screen and  (max-width: 1279px) {
  .places__paragraph {
    min-width: 456px;
  }
}

@media screen and  (max-width: 1023px) {
  .places__paragraph {
    min-width: 352px;
  }
}

@media screen and  (max-width: 768px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 26px;
    min-width: 288px;
  }
}


