.choose__language {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400px;
  font-size: 24px;
}

@media screen and (max-width: 320px) {
  .choose__language {
    font-size: 18px;
    line-height: 20px;
  }
}
@media screen and (min-width: 321px) and (max-width:768px) {
  .choose__language {
    font-size: calc(1em + 0.65vw);
  }
}
