.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  max-height: 52px;
  max-width: 1184px;
}

@media screen and (max-width: 320px) {
  .header {
    padding: 4% 4% 0;
    max-width: 288px;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .header {
    padding: 3.8% 3.3% 0;
    max-width: 720px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    padding: 28px 5% 0;
    max-width: 928px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .header {
    padding: 28px 48px 0;
  }
}
@media screen and (min-width: 1281px)  {
  .header {
    padding: 28px 48px 0;
    margin:0 auto;
  }
}
