.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
  padding: 28px 48px 0;
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 928px;
    padding-left: 4.6%;
    padding-right: 4.6%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-right: 24px;
    padding-left: 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 560px) {
  .header {
    padding-top: 5%;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    max-width: 288px;
  }
}
