.lead__image {
  width:100%;
  padding-top: 56px;
}
@media screen and (max-width:320px) {
  .lead__image {
    max-width:320px;
    padding-top: 40px;
  }
}
@media screen and (min-width:321px) and (max-width:440px) {
  .lead__image {
    min-width:320px;
    max-width: 768px;
    padding-top: 13.2%;
    box-sizing: border-box;
  }
}
@media screen and (min-width:441px) and (max-width:768px) {
  .lead__image {
    min-width:320px;
    max-width: 768px;
    box-sizing: border-box;
  }
}
@media screen and (min-width:769px) and (max-width:900px) {
  .lead__image {
    min-width:768px;
    max-width: 800px;
  }
}
@media screen and (min-width:901px) and (max-width:1024px) {
  .lead__image {
    min-width:768px;
    max-width: 928px;
  }
}
@media screen and (min-width:1025px)  {
  .lead__image {
    min-width:928px;
    max-width:984px;
  }
}




