.cover__overlay {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  min-height: calc(100vw * .625);
}

@media screen and (min-width:1280px) {
  .cover__overlay {
    max-width: 1184px;
    min-height: 740px;
  }
}
